/*ANIMATE CSS*/

.pasoDos {
  animation-delay: 0.5;
  animation-duration: 1s;
}

/***TITULOS **/

.first-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */

  display: flex;
  align-items: center;

  /* blue */

  color: #4186ba;
}

.title-nombre-edificio {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 120%;
  /* or 35px */

  display: flex;
  align-items: center;

  /* gray */

  color: #4f4f4f;
}

.valor-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  display: flex;
  align-items: center;

  /* blue */

  color: #4186ba;
}

.price-title {
  /* H4 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 120%;
  /* or 35px */

  display: flex;
  align-items: center;

  /* darkBlue */

  color: #2b587a;
}

.text-credit-title {
  /* H3 */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  /* or 42px */

  /* blue */

  color: #4186ba;
}

.text-credit-title-light {
  /* H3 */

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  /* or 42px */

  /* skyBlue */

  color: #7fafd2;
}

.text-simulation {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */

  /* gray */

  color: #4f4f4f;
}

.price-uf {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  display: flex;
  align-items: center;

  /* gray */

  color: #4f4f4f;
}

.title-unidad {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */

  display: flex;
  align-items: center;

  /* darkBlue */

  color: #2b587a;
}

.metros-unidad {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */

  display: flex;
  align-items: center;

  /* gray */

  color: #4f4f4f;
}

.footer-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  display: flex;
  align-items: center;

  /* lightWhite */

  color: #fbfcfe;
}
.footer-direccion {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  display: flex;
  align-items: center;

  /* lightBlue */

  color: #bfd7e9;
}

.normal-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */

  /* gray */

  color: #4f4f4f;
}

.final-message {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 29px;
  line-height: 120%;
  /* or 35px */

  /* gray */

  color: #4f4f4f;
}

.color-darkblue {
  color: #2b587a;
}
/**Tootip Capitalizame**/
.custom-tooltip-capitalizame {
  background-color: #fff;
  color: #000;
}

/**CARD **/

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px;
}

.card .card-header h5 {
  margin-bottom: 0;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}

.card .card-header + .card-block,
.card .card-header + .card-block-big {
  padding-top: 0;
}

.user-card .card-block {
  text-align: center;
}

.card .card-block {
  padding: 25px;
}

.img-radius {
  border-radius: 50%;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-15 {
  margin-top: 15px;
}

.card .card-block p {
  line-height: 1.4;
}

.text-muted {
  color: #919aa3 !important;
}

/****/
.next-button {
  background: #4186ba;
}
