mat-sidenav {


    mat-nav-list {

            a {
                color: #fff;
                padding: 20px;
                display: block;
            }

            .activated {
                background-color: #00a8ff;
            }
        
    }
    
}